// Body
$body-bg: #f8fafc;

//Colors
$primary: #6ec291;
$invalid: #e8614f;

// Typography
$font-family-sans-serif: 'poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;
$text-color: #212734;
